[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
utemplate = {path = "./../utemplate"}
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3"
